body {
 font-size: 16px;
 background-color: #fefefa;
}

h1,h2,h3,h4,h5,h6,p {
 line-height: 1.45;
}

h1 { font-size: 3.157em; }

h2 { font-size: 2.369em; }

h3 { font-size: 1.777em;}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  color: #134E25;
}

p, a {
  font-family: "Merriweather", serif;
  color: #303030;
}

a:hover, a:active {
  text-decoration: none;
  font-weight: normal;
  color: #de6d26;
}



/*HEADER*/
.header-container {
    width: 960px;
    margin: 0 auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.name {
    font-family: "Oswald", sans-serif;
    font-size: 125px;
    color: #fefefa;
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
    text-align: center;
    line-height: 1;
}

.logo {
    background-color: #fefefa;
    height: 115px;
    width: 115px;
    border-radius: 100px;
    text-align: center;
    margin: 10px auto 0 auto;
    position: relative;
}

.navbar {
  background: none;
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-nav li a {
    font-family: "Oswald", sans-serif;
    font-size: 1.75em;
    color: #fefefa;
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.navbar-default .navbar-nav li a:hover {
    color: #fefefa;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-bottom: 2px solid #DE6B20;
}

.owl {
    max-width: 75px;
}

.site-header {
    height: 300px;
    background-color: #8EAC7B;
}

ul.nav {
    width: 940px;
    list-style: none;
    overflow: hidden;
    margin: -100px auto 25px auto;
}

ul.nav li:nth-child(1) {
	margin: 0 60px 0 0;
}
ul.nav li:nth-child(2) {
	margin: 0 316px 0 0;
}
ul.nav li:nth-child(3) {
	margin: 0 60px 0 0;
}
ul.nav li:nth-child(4) {
	margin: 0;
}

/*HOME*/

.primary {
  max-width: 80%;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  background-color: white;
}

.primaryQuote {
  font-family: "Merriweather";
  font-size: 1.333em;
  padding: 20px 20px 0px 20px;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #8eac7c;
  margin: 15px auto;
}

.primarySource {
  font-family: "Merriweather";
  font-size: 1.273em;
  text-align: center;
  padding: 0px 20px;
}

.primaryType {
  color: #8eac7c;
  padding-top: 10px;
}
