<header class="site-header">

<div class="wholeTop">
  <div class="top">
    <div class="logo">
      <img class="owl" src="/images/Katy_owl_logo.png" alt="Owl">
    </div>
    <div class="name">
      <span>Katy Bowman</span>
    </div>
  </div>
  <nav class="navbar navbar-default nav-custom navigation">
    <div class="menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="navigation">
          <li><a href="katybowman.com">Home</a></li>
          <li><a href="/work">My Work</a></li>
          <li><a href="/mystory">My Story</a></li>
          <li><a href="/blog">My Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

</header>
